/*
 * -------------------------------------------------
 *  star mapping config
 * -------------------------------------------------
 * Default config options for all environments.
 * @Repository
 * https://github.com/savytskanatalia/quanTEfication
 * @Author
 * Savytska Natalia, 2024. Genome Biology of Neurodegenerative Diseases, DZNE TU
 */

// Global default params, used in configs


manifest {
    homePage = 'https://github.com/savytskanatalia'
    description = 'quanTEfication helps you quantify your precious transposable elements` expression in RNAseq data! Fun? Fun!'
    mainScript = 'quanTEr.nf'
    version = '0'
}



process {
    withName: star_mapping_q {
        memory = 60.GB
        cpus = 6
    }
}

process {
    withName: telocal_quantification {
        memory = 20.GB
        cpus = 5
    }
}

process {
    withName: telocal_quant_alone {
        memory = 20.GB
        cpus = 5
    }
}




executor {
  cpus = 28
  memory = 60.GB
}


params {
  outdir='output'
  reads="output/trimmed/*_R{1,2}_PROC.fastq.gz"
  index=''
  read_length=100
  threads=4
  mism=999
  misml=0.1
  staropt=''

}

// Load base.config by default for all pipelines
//includeConfig 'conf/base.config'


profiles {
  docker { docker.enabled = true 
            includeConfig 'conf/docker.config' }
}



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_dag.html"
}

