

process {
    memory = 60.GB
    cpus = 6
}




executor {
  cpus = 28
  memory = 280.GB
}

// most experiments we deal with are paired-end, so makes sense to have it as a default
params {
  outdir='output'
  bam_files="*.bam"
  paired=2
}

// Load base.config by default for all pipelines
//includeConfig 'conf/base.config'


profiles {
  docker { docker.enabled = true 
            includeConfig 'conf/docker.config' }
}




// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_dag.html"
}
