

process {

    cpus   = { check_max( 6    * task.attempt, 'cpus'   ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


}


executor {
  queueSize = 3
  cpus = 30
  memory = 74.GB
}

